<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login Form For Student login</title>>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
      <div class="col-md-6 offset-md-3">
        <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()"  class="login-form"  >
          <h2 class="text-center mb-4">Login</h2>
          <div class="form-group">
            <label for="username">Username</label>
            <input  type="text" formControlName="username" class="form-control" placeholder="Enter your username" required CopyPasteBlockDirective>
            <div *ngIf="LoginForm.get('username')?.touched &&
            LoginForm.get('username')?.invalid"><span style="color: red;">Username Required</span></div>
          </div>
          <div class="form-group">
            <label for="password">Password<span style="color: red;">*</span></label>
            <input  type="password" formControlName="password" class="form-control" placeholder="Enter your password" required CopyPasteBlockDirective>
            <div
            *ngIf="LoginForm.get('password')?.touched &&
            LoginForm.get('password')?.invalid"><span style="color: red;">password Required</span></div>
          </div>
          <div>

            <p>Don't Have an Account <a [routerLink]="['/Register']">SignUp</a></p><p><a [routerLink]="['/reflect']">Forget Password</a></p>
          </div>
          <button type="submit" [routerLink]="['/home']" class="btn btn-primary ">Login</button>
        </form>
  </div>
</body>
</html>
