<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container d-flex justify-content-center pt-5">
  <form style="width: 50%;" [formGroup]="passwordForm" (ngSubmit)="onSubmit">
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" formControlName="newPassword" placeholder="Case Sensitive" required #pw>
        <div *ngIf="passwordForm.get('newPassword')?.touched &&
        passwordForm.get('newPassword')?.invalid" style="color: red;">Password Required</div><br>
    
        <div class="checkbox-wrapper-63">
          <label class="switch">
            <input type="checkbox" id="showPassword" (click)="togglePasswordVisibility(pw)" >
            <span class="slider"></span>
          </label>
        </div>
    
    </div>
    <div class="form-group">
    <label for="ConfirmPassword">Confirm Password</label>
    <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password" required
    #cpw (keyup)='checkPasswords(pw.value, cpw.value)'>
    <div *ngIf="passwordForm.get('confirmPassword')?.touched &&
    passwordForm.get('confirmPassword')?.invalid" style="color: red;">Confirm Password</div>
    <div *ngIf='!passwordsMatching &&   isConfirmPasswordDirty '>
    Passwords did not match
    </div>
    </div>
    <div class="btn"></div>
    <button type="submit" [disabled]="!passwordForm.valid" [routerLink]="['/signup']" class="btn btn-primary btn1">Submit</button>
</form>
</div>